body{
	background: url('./Assets/makanan.jpg');
	color : #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .flex-container{
    display: flex;
    flex-direction: column
}
.center{
    text-align: center
}
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  